<div class="container">
  <p>Ask your coach anything</p>
  <form action="/answer" data-turbo="false" class="input-group mb-3">
    <input type="text" name="question" class="form-control">
    <input class="btn btn-primary" type="submit" value="Ask!">
  </form>
</div>
